dtd/finnob.dtd

<!-- <!ELEMENT r (lics?, e+, xhtml:script?) > -->
<!ELEMENT r (lics?, e+) >
<!ATTLIST r xml:lang (fin) #IMPLIED>
<!ATTLIST r id (finnob) #IMPLIED>

<!ELEMENT lics (lic, ref*, sourcenote*) >
<!ATTLIST lics xml:space (default|preserve) 'preserve'>
<!ELEMENT lic (#PCDATA|a)*>
<!ATTLIST lic xml:lang ( en | nno ) #IMPLIED >
<!ELEMENT ref (#PCDATA|a|i)*>
<!ELEMENT sourcenote (#PCDATA|a|i)*>
<!ELEMENT a (#PCDATA)>
<!ELEMENT i (#PCDATA)>


<!ELEMENT e ( lg, mg+ ) >
<!ATTLIST e reverse NMTOKEN #IMPLIED >
<!ATTLIST e src CDATA #IMPLIED >

<!ELEMENT lg ( l ) >

<!ELEMENT l ( #PCDATA ) >
<!ATTLIST l pos ( A | Adv | CC | CS | Interj |
                  N | Num | Pcle | Po | Pr | Pron | V ) #REQUIRED >
<!ATTLIST l type (Prop) #IMPLIED >

<!ELEMENT mg ( tg ) >

<!ELEMENT tg ( re?, t+, xg* ) >
<!ATTLIST tg xml:lang ( nob ) #IMPLIED >

<!ELEMENT re (#PCDATA) > <!-- Domain restriction: bot, phys, ... -->

<!ELEMENT t ( #PCDATA ) >
<!ATTLIST t pos ( A | Adv | CC | CS | Cp | Det | Interj |
                  N | Num | Po | Pr | Pron | V ) #REQUIRED >

<!ELEMENT xg ( x, xt ) >
<!ELEMENT x ( #PCDATA ) >
<!ELEMENT xt ( #PCDATA ) >
